.altcolor{
    background-color:#07038280;
    border-radius:15px;
     margin-top:20px;
    padding:20px;
}
.form-control {
    display: inline-block;
}

.invis {
    display: none;
}
body {
	background-image: url(bg.jpg);
	background-color:#07038280;
	background-repeat: repeat-x;
	color: #FFFFFF;
}
    .square{
        width: 70px;
        height: 70px;
        Background-color: #07038240
    }